.result-item--animal {
    @include result-list-item;

    &.starred {
        border: 2px solid #b5b01d;
    }
    
    .result-item--left {
        max-width: 10%;
        min-width: 10%;
        border-right: 1px solid #fffbfb;
        img {
            padding: 15px;
            width: -webkit-fill-available;
            // max-width: 25%;
            // min-width: 10%;
        }
    }

    .result-item--right {
        flex: 3;
        padding: 24px 0 24px 24px;

        .result-item--right-name {
            font-size: 24px;
            font-weight: bold;
        }

        .result-item--right-scientific-name {
            margin-top: 12px;
            font-style: italic;
        }
    }
}